kirby
vendor

site/plugins/*
!site/plugins/custom

/public/media/*
!/public/media/index.html

/storage/_accounts/*
!/storage/_accounts/.gitkeep

/storage/accounts/*
!/storage/accounts/.gitkeep

/storage/cache/*
!/storage/cache/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/sessions/*
!/storage/sessions/.gitkeep

/site/config/.license

node_modules
content

.idea
.dev

.DS_Store
