.o-grid {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--grid-gap);
  row-gap: calc(54 / 16 * 1rem);

  &--responsive{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &--2cols {
    grid-template-columns: repeat(2, 1fr);
  }
  &--3cols {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mq($from: tablet){
    &--2cols-medium {
      grid-template-columns: repeat(2, 1fr);
    }
    &--3cols-medium {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @include mq($from: desktop){
    &--2cols-large {
      grid-template-columns: repeat(2, 1fr);
    }
    &--3cols-large {
      grid-template-columns: repeat(3, 1fr);
    }
  }

}