
.c-herobanner{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  gap: calc(10 / 16 * 1rem);
  margin-top: calc(10 / 16 * 1rem);
  
  @include mq($from: tablet){
    grid-template-columns: 1fr 1fr;
    gap: calc(24 / 16 * 1rem);
    margin-top: calc(10 / 16 * 1rem);
  }
  
  @include mq($from: desktop){
    grid-template-columns: 1fr 1fr;
    gap: calc(32 / 16 * 1rem);
    margin-top: calc(10 / 16 * 1rem);
  }
  &__title{
    font-weight: 700;
    color: $color-green;
    margin-bottom: calc(10 / 16 * 1rem);
  }
  &__headline{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: calc(10 / 16 * 1rem);
  }
}





//Old home links

.c-home-links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include mq($from: tablet){
    flex-wrap: nowrap;
  }
}
.c-home-link{
  flex-grow:1;
  width: 50%;
  background: white;
  @include mq($until: tablet) {
    width: 50%;
  }
  img{
    width: 100%;
  }
}