.c-sitefooter{
    background: $color-green;
    color: $color-white;
    font-size: 18px;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}

.c-footerinfo{
    display: flex;
    align-items: center;
    gap: 25px;
    &__title{
        font-size: 20px;
        color: $color-white;
    }
    &__link{
        display: flex;
        gap: 10px;
        color: $color-white;
        text-decoration: none;
    }
}

.c-footercontact{
    display: flex;
    align-items: ce;
    gap: 15px;
  
    &__link{
        display: inline-block;
        color: $color-white;
        height: 30px;
        transform: scale(1);
        transition: transform 0.2s ease-in-out;
        &:hover{
            transform: scale(1.05);
            transition: transform 0.2s ease-in-out;
        }
    }
}