.c-mainnav{
  background: #00694adb;
  &--desk{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
  }
}

.c-menu {
  text-align: center;
  margin: 0;

  &--desk{
    display: none; 
  }

  @include mq($from: tablet) {
    &--desk{
      display: flex;
      justify-content: center;
      align-items: center;
      
      transition: heigth 0.4s;

      &> :first-child{
        margin-right: auto;
      }
    }
    &--small{
      display: none;
    }
  }

  &> :last-child{
    position: relative;
    margin-left: 25px;
  }
  &> :last-child::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate3d(0,-50%,0);
    display: block;
    height: 70%;
    width: 2px;
    background-color: $color-white;
  }

  &__link {
    position: relative;
    padding: $inuit-global-spacing-unit-small;
    text-decoration: none;
    color: $color-white;
    display: block;
    @include mq($from: tablet) {
      padding: $inuit-global-spacing-unit-small;
      display: inline-block;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      width: 0;
      background-color: $color-white;
      transition: all 0.3s ease-in-out;
    }
    
    &:hover::after {
      width: 50%;
      transition: width 0.3s ease-in-out;
    }
  }
  &__logo {
    display: inline-block;
    //same size as the one in index.js l39
    height: 200px;
    transition: 0.3s ease-in-out;
  }

  &__item {
    @include mq($until: tablet) {
      display: block;
    }
  }
}

.c-menu-toggle {
  border: none;
  background: $color-white;
  position: fixed;
  padding: $inuit-global-spacing-unit;
  cursor: pointer;
  @include mq($from: tablet) {
    display: none;
  }
}

.c-scroll-menu {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-green ;
  transition: all 0.3s ease-out;
  @include mq($until: tablet) {
    height: 100%;
  }
  @include mq($from: tablet) {
    transform: translate(0, -100%);
  }
  &__close {
    position: absolute;
    left: 0;
  }
  &.visible {
    display: block;
  }
  &.scroll {
    @include mq($from: tablet) {
      transform: translate(0, 0);
    }
  }
}

.c-menu--small{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
