/* ---------------------------------
=page title
--------------------------------- */

.c-pagetitle {
  font-weight: 600;
  font-size: clamp(
    calc(48 / 16 * 1rem),
    calc(1rem + 4.5vw),
    calc(122 / 16 * 1rem)
  );
  line-height: 1.12;
  max-width: 15ch;
  margin-bottom: 0;
  line-height:1;
}

.c-pagetitle > span {
  font-family: "Metal", serif;
  font-size: clamp(
    calc(55 / 16 * 1rem),
    calc(1.8rem + 4.5vw),
    calc(140 / 16 * 1rem)
  );
  text-transform: lowercase;
}
