.c-article{
  display: flex;
  flex-direction: column;
  gap: calc(30/16*1rem);
}

.c-article__cover{
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  margin-bottom: calc(30/16*1rem);
}

.c-article__body{
  margin-bottom: calc(30/16*1rem);
}

.c-article__title{
  font-size: calc(36/16*1rem);
  font-weight: 600;
  text-align: center;
  
  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-text);
    opacity: 25%;
    margin: calc(18/16*1rem) 0;
  }
}

.c-article__tags-date{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.c-article__date{
  opacity: 70%;
}

//projects

.c-article__date-position{
  display: flex;
  justify-content: space-between;
}

.c-article__position{
  display: flex;
  gap: calc(6/16*1rem);
  align-items: center;
  opacity: 70%;

  :first-child::after{
    content: ',';
  }
}


//================================================
//=content
//================================================

.c-article__video{
  display: block;
}

/* -----------------------------
=author
----------------------------- */

.c-article-author{
  font-size: calc(14/16*1rem);;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(12/16*1rem);
  &>h3{
    margin: 0;
  }
  &__picture{
    width: 100%;
    max-width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #00694a;
  }
}

