#nous-soutenir{
    scroll-margin-top: 40vh;
}

#contact-us{
    scroll-margin-top: 40vh;
}

p{
    margin: 0;
}
.c-contactcard{
    display: flex;
    flex-direction: column;
    gap: calc(16/16*1rem);
    &__img{
        aspect-ratio: 3/4;
        object-fit: cover;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        gap: calc(6/16*1rem);
    }
    &__name{
        display: inline;
    }
    &__contacts{
        display: flex;
        flex-direction: column;
    }
    &__function{
        font-size: calc(14/16*1rem);
        font-weight: 400;
        opacity: 0.7;
    }
    &__link{
        display: inline-block;
        height: calc(22/16*1rem);
        color: var(--color-brand);
        & > svg {
            stroke-width: 1.5px;
        }
    }
}

.c-contact__content{
    display: flex;
    flex-direction: column;
    gap: calc(16/16*1rem);
}

.c-contact__icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(16/16*1rem);
}

.c-contact__iconlink{
    color: var(--color-brand);
    width: calc(18/16*1rem);
    height: auto;
    & > svg{
        width: 100%;
        stroke-width: 1.5px;
    }
}

.c-contact__iconlink--mail{
    width: calc(50/16*1rem);
    font-size: calc(14/16*1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(6/16*1rem);
    & > svg{
        stroke-width: 2px;
        transform: scale(1);
    transition: transform 0.2s ease-in-out;
        &:hover{
            transform: scale(1.07);
            transition: transform 0.3s ease-in-out;
        }
    }
}

.c-contact__secondary-icons{
    display: flex;
    opacity: .7;
    gap: calc(18/16*1rem);
}