.c-smallsection-group {
  display: flex;
  flex-direction: column;
}

.c-smallsection {
  padding: 36px 0;
  position: relative;

  justify-items: center;
  align-items: center;
  
  @include breakpoint(medium) {
    grid-template-areas: "image text";
    grid-template-rows: repeat(auto-fit, auto);
  }
  &__img-group{
    @include breakpoint(medium) {
      grid-area: image;
    }
  }
  &:nth-child(even) {
    @include breakpoint(medium) {
      grid-template-areas: "text image";
    }
  }
  &--image-text {
    @include breakpoint(medium) {
      grid-template-areas: "image text" !important;
    }
  }
  &--text-image {
    @include breakpoint(medium) {
      grid-template-areas: "text image" !important;
    }
  }


  &__title {
    font-weight: 500;
    font-size: calc(22 / 16 * 1rem);
    color: var(--color-text);
  }

  &__content {
    @include breakpoint(medium) {
      grid-area: text;
      grid-row: auto;
    }
  }


  &__text {
    &--full-text {
      column-count: 1;
      column-gap: calc(64/16*1rem);

      @include breakpoint(medium) {
        column-count: 2;
      }
    }
  }
  //bg color for defferent themed blocks
  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    transform: translate(-50%, 0);

    background-color: var(--color-white);
  }
}

.c-smallsection-media {
  position: relative;
  padding: 15px 0 0 15px;
  width: 60%;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  z-index: 1;

  & > img {
    width: 100%;
    height: 100%;
    aspect-ratio: 4/6;
    object-fit: cover;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: solid var(--color-brand) 1.5px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    z-index: -1;
    opacity: 0.5;
  }
  &--no-deco {
    width: 100%;
    aspect-ratio: unset;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    & > img {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &::before {
      content: "";
      border: solid var(--color-brand) 1.5px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &.vertical {
      width: 70%;
    }
  }
}

//dark theme

.c-smallsection--dark {
  color: var(--color-white);
  &::before {
    background-color: var(--color-brand);
  }
}
.c-smallsection__title--dark {
  color: var(--color-white);
}
.c-smallsection-media--dark {
  &::before {
    border: solid var(--color-white) 1.5px;
  }
}

//light

.c-smallsection--light {
  &::before {
    background-color: #EFEFEF;
  }
}