.c-heading{
    font-weight: 500;
    margin: calc(18/16*1rem) 0;
  }
  
  h1.c-heading{
    font-size: calc(30/16*1rem);
    font-weight:600;
  }
  h2.c-heading{
    font-size: calc(30/16*1rem);
  }
  h3.c-heading{
    font-size: calc(26/16*1rem);
  }
  h4.c-heading{
    font-size: calc(22/16*1rem);
  }