#nous-soutenir{
    scroll-margin-top: 200px;
}

p{
    margin: 0;
}
.c-contactcard{
    display: flex;
    flex-direction: column;
    gap: calc(16/16*1rem);
    &__img{
        aspect-ratio: 3/4;
        object-fit: cover;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        gap: calc(6/16*1rem);
    }
    &__name{
        display: inline;
    }
    &__contacts{
        display: flex;
        flex-direction: column;
    }
    &__function{
        font-size: calc(14/16*1rem);
        font-weight: 400;
        opacity: 0.7;
    }
    &__link{
        display: inline-block;
        height: calc(22/16*1rem);
        color: var(--color-brand);
        & > svg {
            stroke-width: 1.5px;
        }
    }
}

