
.c-herobanner{
  position: relative;
  display: grid;
  
  grid-template-columns: 1fr;
  gap: calc(10 / 16 * 1rem);
  margin-top: calc(10 / 16 * 1rem);

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
    gap: calc(42 / 16 * 1rem);
    margin-top: calc(10 / 16 * 1rem);
  }
  
  @include breakpoint(large) {
    grid-template-columns: 3fr 2fr;
    gap: calc(64 / 16 * 1rem);
    margin-top: calc(10 / 16 * 1rem);
  }
}

.c-herobanner__content{
  margin-top: calc(65 / 16 * 1rem);
}

.c-herobanner__headline{
  font-weight: 300;
  font-size: 24px;
  margin-bottom: calc(10 / 16 * 1rem);
}

.c-herobanner__picture {
  position: relative;
  width: 100%;
}

.c-herobanner__img{
  width: 100%;
  aspect-ratio: 4/6;
  overflow: hidden;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  & > img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}

.c-herobanner__deco{
  position: absolute;
  width: 100%;
  transform: translate3d(-20px, -20px, 0);
  & > svg > path{
    stroke-width: 3px;
  }
}



