.c-mainnav{
  background: var(--color-brand);
  border-bottom: 1px solid #ffffff55;
}

.c-mainnav--phone{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(16/16*1rem);
  padding: calc(64/16*1rem);
  height: 100%;
}

.c-mainnav--desk{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
}
