
.c-actu__cover{
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  margin-bottom: calc(30/16*1rem);
}

.c-actu__body{
  margin-bottom: calc(30/16*1rem);
}

.c-actu__title{
  font-size: calc(36/16*1rem);
  font-weight: 600;
  text-align: center;
  
  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-text);
    opacity: 25%;
    margin: 1rem 0;
  }
}

.c-actu__tags-date{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.c-actu__date{
  opacity: 70%;
}

.c-actu__content{
  ::first-letter{
    margin-left: 3rem;
  }
}