
.c-article__cover{
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  margin-bottom: calc(30/16*1rem);
}

.c-article__body{
  margin-bottom: calc(30/16*1rem);
}

.c-article__title{
  font-size: calc(36/16*1rem);
  font-weight: 600;
  text-align: center;
  
  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-text);
    opacity: 25%;
    margin: 1rem 0;
  }
}

.c-article__tags-date{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.c-article__date{
  opacity: 70%;
}

//================================================
//=content
//================================================

.c-article__gallery-title{
  font-size: calc(22/16*1rem);
  font-weight: 500;
  width: fit-content;
  margin: 0 auto;
  
  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-text);
    opacity: 25%;
    margin: .3rem 0 2rem 0;
  }
}

.c-article__text{
  ::first-letter{
    margin-left: 3rem;
  }
}