
.c-menu {
  text-align: center;
  margin: 0;
  
  &--desk{
    display: none; 
    padding: var(--spacing-s);
  }

  @include breakpoint(medium) {
    &--desk{
      display: flex;
      justify-content: center;
      align-items: center;
      
      transition: heigth 0.4s;

      &> :first-child{
        position: relative;
        margin-right: auto;
      }
    }
    &--small{
      display: none;
    }
  }

  &> :last-child{
    position: relative;
    margin-left: 25px;
  }
  &> :last-child::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translate3d(0,-50%,0);
    display: block;
    height: 70%;
    width: 2px;
    background-color: var(--color-background);
  }

  &__link {
    font-size: calc(18/16*1rem);
    padding: var(--spacing-s);
    display: block;
    @include breakpoint(medium) {
      padding: var(--spacing-s);
      display: inline-block;
    }
    &::after {
      bottom: unset;
    }
  }
  &__logo {
    display: inline-block;
    //same size as the one in index.js l39
    height: 200px;
    transition: height 0.5s var(--ease-custom-ease-in-out);
  }

  &__item {
    @include breakpoint(medium) {
      display: block;
    }
  }
}

.c-menu-toggle {
  border: none;
  background: var(--color-background);
  position: fixed;
  padding: var(--spacing-l);
  cursor: pointer;
  @include breakpoint(medium) {
    display: none;
  }
}

.c-scroll-menu {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--color-brand) ;
  transition: all 0.5s ease-out;

  @include breakpoint(medium) {
    transform: translate(0, -100%);
    height: unset;
  }
  &__close {
    position: absolute;
    left: 0;
  }
  &.visible {
    display: block;
  }
  &.scroll {
    @include breakpoint(medium) {
      transform: translate(0, 0);
    }
  }
}

.c-menu__item.active a{
  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 1.5px;
    width: 60%;
    background-color: var(--color-background);
    transition: all 0.5s var(--ease-custom-ease-in-out);
  }
}

.c-menu--small{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
