/* ---------------------------------
=small title
--------------------------------- */

.c-smalltitle {
  font-weight: 400;
  font-family: var(--fontstack--main);
  font-size: calc(18 / 16 * 1rem);
  color: var(--color-text-offset);
  margin-bottom: 1em;
}

