/* ---------------------------------
=projectcard
--------------------------------- */

.c-projectcard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: calc(18 / 16 * 1rem);
  }
  
  .c-projectcard__media {
    border-radius: 25px;
    overflow: hidden;
    margin: 0;
  }
  
  .c-projectcard__media > img {
    transform: scale(1);
    transition: transform 0.2s ease-out;
    aspect-ratio: 5/3;
    object-fit: cover;
  }
  
  a:hover .c-projectcard__media > img {
    transform: scale(1.024);
  }
  
  .c-projectcard__body {
    display: flex;
    flex-direction: column;
    gap: calc(12 / 16 * 1rem);
  }
  
  .c-projectcard__title {
    font-weight: 500;
    font-size: calc(22 / 16 * 1rem);
    line-height: 1.24;
    font-family: var(--fontstack-main);
    color: var(--color-text);
    margin: 0;
  }

  .c-projectcard__date-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(6 / 16 * 1rem);

    &>p{
      margin: 0;
      opacity: 60%;
    }
  }

  .c-projectcard__tagline {
    margin: 0;
    font-weight: 400;
    font-size: calc(16 / 16 * 1rem);
    line-height: 1.24;
    font-family: var(--fontstack-main);
    color: var(--color-text-offset);
  }
  
  .c-projectcard__tags-link {
    display: flex;
    align-items: flex-center;
    justify-content: space-between;
    gap: calc(6 / 16 * 1rem);
  }
  
  .c-projectcard__tags {
    margin: 0;
    padding: 0;
    list-style: none;
  
    display: flex;
    flex-wrap: wrap;
    gap: calc(6 / 16 * 1rem);
  }
  
  .c-projectcard__tag{
    margin: 0;
    &::before {
      content: "#";
      color: var(--color-brand);
    }
  }
  
  .c-projectcard__link {
    display: flex;
    align-items: center;
    gap: calc(3 / 16 * 1rem);
    text-decoration: none;
    font-size: calc(18/16*1rem);
    white-space: nowrap;
  }
  
  